<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="Aaron Bieber <qbit@deftly.net>">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%- title + ' - ' + version %></title>

	<script src="/socket.io/socket.io.js"></script>

	<script src="components/jquery/jquery.js"></script>
	<script src="components/semantic/build/packaged/javascript/semantic.min.js"></script>
	<script src="CodeMirror/lib/codemirror.js"></script>
	<script src="CodeMirror/addon/dialog/dialog.js"></script>
	<script src="CodeMirror/addon/search/searchcursor.js"></script>
	<script src="CodeMirror/keymap/vim.js"></script>

	<link href="components/semantic/build/packaged/css/semantic.min.css" rel="stylesheet">
	<link href="CodeMirror/lib/codemirror.css" rel="stylesheet">
	<link href="stroke.css" rel="stylesheet">
</head>
<body>
	<div class="ui pointing secondary menu">
	  <a class="active green item" data-tab="game">Game</a>
	  <a class="blue item" data-tab="score">Score</a>
	  <a class="blue item right">Players <div class="ui label" id="counter"><%- users %></div></a>
	</div>
	<div class="ui active tab segment" data-tab="game" id="game">
	</div>
	<div class="ui tab segment" data-tab="score">Scores</div>
	<script>
		var socket = io.connect();
		socket.on('players', function(d) {
			console.log(d);
			$('#counter').text(d);
		});
		var editor = CodeMirror(document.getElementById('game'), {
			vimMode: true,
			showCursorWhenSelecting: true,
			lineNumbers: true
		});
	</script>
</body>
</html>

